# Системные файлы
.DS_Store
Thumbs.db

# Файлы редактора
.vscode/
.idea/

# Временные файлы
*.tmp
*.log

# Зависимости
node_modules/

# Скомпилированные файлы
*.css.map
*.js.map

# Крупные бинарные файлы
*.psd
*.ai
/unoptimized-images/  # Папка с исходниками изображений
